<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Master Degree Candidate at
      <a class="underline-link" href="https://www.ece.cornell.edu/" target="_blank">Cornell ECE</a>. I got my Bachelor of Science Degree in Measurement and Control Technology and Instruments from
      <a class="underline-link" href="http://www.tju.edu.cn/" target="_blank">Tianjin University</a>.
    </p>

    <p>
      <strong>When I'm not coding</strong>, video games are my favorite, especially the horror ones 🤡. I love singing(not only in the shower), EDM, skiing, biking, and badminton. I’m a self-taught drummer and guitarist after I fell for Erhu. My next thing on bucket list would be mastering Launchpad.
   </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
